* {
  box-sizing: border-box;
}

body {
  margin-top: 5em;

  font-family: 'Gotham Pro', 'Helvetica', 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* CONTAINER */

.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  max-width: 1000px;
  margin: 0 auto;
}

/*  HEADER */

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  width: 1000px;
  position: fixed;
}

.logo {
  width: 15em;
  height: 7.5em;

  background-color: #00f;
}

h1 {
  margin: 0 0 -.15em 1em;
  
  line-height: 1em;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;

  margin: 5em 5em 0 0;
  padding-top: 100vh;

  transform: rotate(180deg);
  writing-mode: vertical-lr;
  
  border-right: .1em solid #000;
}

a {
  padding-right: 2em;

  font-size: 1.5em;
  text-decoration: none;
  
  color: #00f;
}

.nav-link {
  padding-top: 5em;

  border-left: .1em solid transparent;
}

/* MAIN */

.projects {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  margin-top: 28.5em;
}

h2 {
  margin: 0;
  padding: .125em 2em .125em .5em;
  
  font-size: 5em;
  
  color: #fff;
  background-color: #000;
}

.subtitle {
  margin-bottom: 0;

  font-size: 1.5em;
  color: #000;
}

article {
  display: flex;
  align-items: flex-start;

  margin-top: 7.5em;
}

.projects-img {
  width: 45em;
  height: 25em;

  background-color: #00f;
}

.project-info {
  margin-left: 2em;
}

h3 {
 margin-top: -.05
 em;

 font-size: 2.5em;
}

span {
  font-weight: lighter;
}

p {
  font-size: 1.5em;
  color: #7f7f7f;
}

.projects-link {
  padding: .40em 2em .25em .5em;

  font-size: 1.25em;
  
  color: #fff;
  background-color: #00f;
}

.projects-link_right {
  padding: .40em .5em .25em 2em;
  
  font-size: 1.25em;
  
  color: #fff;
  background-color: #00f;
}

.project-right {
  text-align: right;
}
.order {
  margin-right: 2em;
  order: -1;
}

.behance-link {
  margin: 3.25em 0 8em 0;

  font-size: 2em;
  color: #7f7f7f;
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  margin-left: -175px;
}

.contact-links {
  margin-top: 7.5em;
  
  font-size: .80em;
  line-height: .25em;
}

.location {
  color: #7f7f7f;
}

.copy {
  margin: 12.5em 0 .25em 0;
}

/* COLUMNS */

h2,
.subtitle,
.behance-link {
  margin-left: 112.5px;
}

.contact-links,
.copy {
  margin-left: 225px;
}

/* HOVER */

.logo:hover {
  background-color: #000;
}

.nav-link:hover {
  color: #000;
  border-left: .1em solid #00f;
}

.projects-link_right:hover,
.projects-link:hover {
  background-color: #000;
}

.social-link:hover {
  color: #000;
  border-bottom: .1em solid #00f;
}

/* MEDIA QUERIES */

@media (max-width: 0px) {

}