* {
  box-sizing: border-box;
}

body {
  margin: 1em 0 0 0;

  font-family: 'Montserrat', sans-serif;

  color: #B9B9B9;
  background-color: #000;

  /* border: 1px solid red; */
}

.container {
  display: flex;
  flex-flow: column;
  
  max-width: 1280px;
  
  margin: 0 auto;

  /* border: 1px solid yellow; */
}

/* === HEADER === */

header {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  position: fixed;

  width: 100%;
  
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;

  /* border: 1px solid white; */
}

a {
  text-decoration: none;

  color: #B9B9B9;
}

.work-number {
  margin: 0 2em 0 1em;
}

.about {
  margin: 0 2em 0 0;
}

.work-list {
  margin: 0 2em 0 0;
  padding: 0;
  
  /* border: 1px solid red; */
}

.selected {
  text-decoration: line-through;

  color: #cc2626;
}

li {
  display: block;
  
  text-decoration: none;
}

.indent {
  text-indent: 1em;
}

.work-design {
  margin-top: 2em;
  padding: 0;
  
  font-size: .85em;
  font-weight: 400;
  text-transform: none;

  /* border: 1px solid red; */
}

.logo {
  margin-right: 1em;

  max-width: 75px;

  /* border: 1px solid red; */
}

/* === CONTENT === */

main {
  margin: 0 10em;

  /* border: 1px solid green; */
}

section {
  display: flex;
  flex-flow: column;
  /* align-items: center; */

  /* border: 1px solid red; */
}

.project-title {
  align-self: flex-start;

  margin: 2em 0 0 0;
  
  font-size: 12em;
  line-height: .8em;

  color: #79C000;

  /* border: 1px solid blue; */
}

span {
  font-weight: 500;

  color: #cc2626;
}

.project-description {
  align-self: center;
  
  max-width: 45em;

  margin: 3.5em 0 7em 0em;

  font-size: 1.3em;
  text-indent: 1em;
}

.subtitle {
  font-weight: 500;

  color: #B9B9B9;
}

.project-presentation {
  display: flex;
  justify-content: flex-end;

  margin: 7.5em 0 10em 0;
}

h2 {
  font-size: 3em;
  font-weight: 500;

  line-height: .85em;

  color: #79C000;
}

.position-image {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  /* border: 1px solid red; */
}

.project-image {
  max-width: 45vw;
}

.caption {
  margin: 0;
  
  font-size: 1.25em;
}

.next {
  align-self: center;

  margin-top: 1em;

  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

.new {
  color: #0000FF;
}

/* === FOOTER === */

footer {
  display: flex;
  flex-flow: column;
  align-self: center;
  
  margin: 5em 0 0 0;

  /* border: 1px solid green; */
}

.copy {
  margin-bottom: 0;

  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
}

/* === HOVER === */

a:hover {
  text-decoration: line-through;

  color: #B9B9B9;
}

.selected:hover {
  color: #cc2626;
}

/* === MEDIA === */

@media (min-width: 2560px) {
  header {
    width: 80%;
  }

  .project-image {
    max-width: 30vw;
  }

}

@media (max-width: 1024px) {
  .container {
    font-size: 90%
  }

  .project-presentation {
    justify-content: flex-end;
  }

  h2 {
    margin-right: 1.5em;
  }

}

@media (max-width: 768px) {
  h2 {
    margin-right: 0;

    font-size: 2em;
  }

  .project-image {
    max-width: 55vw;
  }

  .next {
    max-width: 15em;

    text-align: center;
  }

}

@media (max-width: 425px) {
  header {

  }

  .work-number {
    display: none;
  }

  .copy {
    font-size: 1em;
  }

}